body {
    font-family: sans-serif;
    
    background-image: url("http://67.media.tumblr.com/cf8cd327f9a0b329351b55b998140cb2/tumblr_nz10tuNhfp1rbibvmo1_500.jpg" class="img-medium");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
                max-width: 800px;
                margin: 0 auto;
                background-color: beige;
                padding-right: 60;
                padding-left: 60;
                font-family: sans-serif;
}

div{
    display: block;
    color: #295f35;
    font-weight: bold;
    font-size: 100%;
}

h1 {
    color: #295f35;
    font-weight: bold;
    font-size: 200%;
}

h3 {
    color: #295f35;
    font-weight: bold;
    font-size: 150%;
}

p {
    color: #295f35;
    font-size: 100%;
}

img {
    padding: 20px;
}