body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 220);
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/b0/cf/72/b0cf728a12f3f06cdbdf620ae3b8e196.jpg");
    background-position: center;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
                max-width: 800px;
                margin: 0 auto;
                background-color: beige;
                background-position: center;
                padding-right: 60;
                padding-left: 60;
                font-family: sans-serif;
}

div{
    display: block;
    color: #295f35;
    font-weight: bold;
    font-size: 100%;
}

h1 {
    color: #295f35;
    font-weight: bold;
    font-size: 200%;
}

h3 {
    color: #295f35;
    font-weight: bold;
    font-size: 150%;
}

p {
    color: #295f35;
    font-size: 100%;
}

img {
    padding: 20px;
}